<?xml version="1.0" encoding="gb2312"?>
<config>
  <!-- 进程状态检测频率，单位秒 -->
  <process_check>3</process_check>

  <!-- 服务功能心跳包检测频率，单位秒 -->
  <service_check>1</service_check>

  <!-- 等待服务启动, 初始化等待时间，单位秒 -->
  <service_init>10</service_init>

  <!---连接超时，单位秒-->
  <connect_timeout>1</connect_timeout>
  <!---读写超时，单位秒-->
  <readwrite_timeout>3</readwrite_timeout>

  <!--日志级别0 DEBUG, 1 INFO, 2 WARN, 3ERROR-->
  <LogLevel>0</LogLevel>

  <service>
    <enable>1</enable>
    <name>交易网关</name>
    <!--0代表星期天,1,2,3,4,5,6,all代表每一天都会重启， none代表不定时重启-->
    <reboot_date>all</reboot_date>
    <!-- 0-24 -->
    <reboot_time>22:00:00</reboot_time>
    <process>E:\Trade\TradeGateway\bin_release\tradegateway.exe</process>
    <!-- 服务地址 -->
    <webtrade>127.0.0.1:5003</webtrade>
  </service>

</config>
